# General Options
--swiftversion 5.7

# Format Options

--allman false
--binarygrouping none
--closingparen balanced
--commas always
--conflictmarkers reject
--elseposition same-line
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent 4
--indentcase false
--extensionacl on-extension
--trimwhitespace always
--decimalgrouping 3,5

# make sure this matches .swiftlint
--maxwidth 120

--nospaceoperators ..<,...
--octalgrouping none
--operatorfunc no-space
--selfrequired
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first

# Rules
--disable hoistPatternLet
--disable redundantReturn
--disable redundantSelf
--disable trailingclosures
--disable wrapMultilineStatementBraces
--disable preferKeyPath
--disable hoistAwait
